* {
  font-family: "Noto Sans KR", sans-serif;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: gray;
}
.auth-link-container,
.menu-header,
.page {
  margin-left: 300px;
  margin-right: 300px;
}
.caption {
  color: gray;
}
@media (max-width: 430px) {
  .page,
  .auth-link-container,
  .menu-header {
    margin-left: 20px;
    margin-right: 20px;
  }
}
